/* .nav-link:visited,
.nav-link:link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #F2F2F2;
} */

body {
  background-color: #3b945e;
  color: #F2F2F2;
  font-family: 'Poppins', serif;
}

.title-name {
  font-size: 80px;
}

.fa:hover {
  opacity: 0.9;
}

.fa {
  color: white;
  font-size: 40px;
  text-decoration: none;
  margin: 5px;
}

/* Circle */
.nav-link {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.nav-link:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
.nav-link:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #65CCB8;
    border-radius: 100%;
  }
  100% {
    background: #57BA98;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}