.nav-link:visited,
.nav-link:link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid #0096c7;
}

body {
    font-family: 'Roboto', sans-serif;
}